.services-slider-thumb
  width: 470px
  margin: 0
  &__wrap
    position: relative
    width: 570px
    padding: 0 50px
  &__item
    display: flex
    align-items: center
    height: auto
    padding: 45px 30px 65px
    cursor: pointer
    +trans
    &.active
      background-color: $accent
  &__icon
    margin-right: 15px
  &__title
    font-weight: 500
    line-height: 1.4
    color: #222